table, th, td{
    border: 1px solid black;
}

.box{
    padding:2px;
    border-spacing:4px 4px 4px 4px;
    margin:2px;
    color: #B8860B;
    background:#FFFFFF;
    height:40px;
    font-size:26px;
}
