code .string{
    color:#FFFFFF;
}

.cString {
    color:#FF0000;
}

.intString{
    color:#3311FF;
}

.jString{
    color:#0011FF;
}

.numString{
    color:#AA11FF;
}


.codebg {
    color:white;
}

.box {
    background:#000000;
    font-family:'Ubuntu mono', monospace;
    font-size:12pt;
    display:block;
}

.bodybox{
    box-shadow:3px 3px 5px 1px #888;
    width:800px;
    margin-left:auto;
    margin-right:auto;
}
